* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

/* h1{
  
} */

nav {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.nav-image {
  height: 70px;
}

ul {
  display: flex;
  justify-content: end;
}

.nav-list {
  list-style-type: none;
  font-size: 16px;
  color: #fafafa;
  margin: auto 30px;
}

.main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  width: 100%;
  height: 650px;
  color: #fafafa;
  margin: 0 auto;
  text-align: center;
}

.main-text1 {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.main-text2 {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
}

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-text {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
}

.title {
  font-size: 32px;
  color: #000000;
  text-align: center;
  border-bottom: 2px solid #ec715f;
  padding-bottom: 8px;
  /* display:inline; */
  line-height: 2;
}

.sub-text {
  padding-top: 30px;
  text-align: center;
}

.portfolio-image1 {
  width: 920px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 30px 0 10px 0;
}

.image1 {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.image2 {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.image3 {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}

.portfolio-image2 {
  width: 920px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.image4 {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.image5 {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.image6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}

.feature {
  width: 100%;
  padding: 90px 0;
}

.feature-text {
  width: 980px;
  margin: 0 auto;
}

.feature-contents {
  margin-top: 30px;
  display: flex;
}

.content1 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  font-size: 16px;
  color: #000000;
}

.content2 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  font-size: 16px;
  color: #000000;
}

.content3 {
  width: 320px;
  height: auto;
  font-size: 16px;
  color: #000000;
}

.size {
  font-size: 60px;
  margin: 0 auto;
}

h4 {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
  text-align: center;
}

.profile {
  width: 100%;
  background-color: #eceff1;
}

.profile-text {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
}

.profile-main {
  display: flex;
  margin-top: 30px;
}

.my-image {
  width: 512px;
}

.image7 {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.introduction {
  width: 512px;
}

h3 {
  font-size: 20px;
  color: #000000;
  padding-bottom: 5px;
}

.introduction-text {
  font-size: 16px;
  color: #000000;
}

.myskills {
  margin-top: 20px;
}

.contact {
  width: 100%;
  padding: 90px 0;
}

.contact-text {
  width: 980px;
  margin: 0 auto;
}

.contact-contents {
  display: flex;
  margin-top: 30px;
}

.tool {
  width: 400px;
  text-align: center;
}

.sns {
  width: 400px;
  text-align: center;
}

.address {
  margin-top: 5px;
  margin-bottom: 20px;
}

.phone-number {
  margin-top: 5px;
}

.sns-icon {
  font-size: 50px;
  margin-right: 20px;
}

.icon {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  padding-top: 20px;
}
